.milkshake-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}

.card-info {
  margin-bottom: 10px;
}